@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #DB5E55;
    --color-heading: #DB5E55;
    --color-base: #000000;
    --color-base2: #000000;
    --color-brand: #DB5E55;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    color: #000000;
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-base);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-base);
}

img {
    width: 100%;
} 

.text-brand {
    color: var(--color-brand);
} 

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    height: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom:2px solid rgba(255, 255, 255, 0.1)
}

/* NAVBAR */
.navbar {
    background-color: #DB5E55;
    border: 1px solid var(--color-brand);
    
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar .nav-link:hover {
    color: var(--color-body);
}

.navbar .nav-link.active {
    color: var(--color-body);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 4px solid #ffffff;
    }
} 

/* Content */
#content-wrapper{
    padding-left: var(--sidbar-width);
}

.btn {
    background-color: transparent;
    border:3.5px solid var(--color-body);
    color: #020202;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 28px 10px 20px;
    transition: all 0.4s ease;
}