@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #01abfbe3;
    --color-base2: #02d5ff70;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body { 
    background-color: var(--color-base);
    --color: var(--color-base);
    font-family: var(--font-base);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-base);
    font-weight: 700;
    color: var(--color-heading);
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all;
    transition-duration: 0.3s;
}

a:hover {
    color: var(--color-brand);
}

img { width : 100%; }